{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/home-link.css' %}">
<link rel="stylesheet" href="{% static 'style/simple/notes.css' %}">
{% endblock %}

{% block body %}
{% include 'home-link.html' %}
<div class="container">
    {% if not today %}
    <a href="{% url 'notes-today' %}" class="btn">Today's</a>
    <a href="{% url 'add-note' %}" class="btn">Add</a>
    {% endif %}
    {% if notes|length > 0 %}
    <h1>Notes</h1>
    <div class="notes">
        {% for note in notes %}
        <div class="note">
            <span class="content">{{ note.content }}</span>
            <span class="author">{{ note.author }}</span>
            <span class="timestamp created">{{ note.created }}</span>
            <span class="timestamp modified">{{ note.modified }}</span>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1 style="color: tomato;">No notes were found.</h1>
    {% endif %}
</div>
{% endblock %}