{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/home-link.css' %}">
<link rel="stylesheet" href="{% static 'style/simple/sayings.css' %}">
{% endblock %}

{% block body %}
{% include 'home-link.html' %}
<div class="container">
    <h1>Sayings (hold to check if true)</h1>
    <div class="sayings">
        {% for saying in sayings %}
        <div class="saying {% if saying.valid %}true{% else %}false{% endif %}">{{ saying.saying }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}